.container {
    max-width: 1312px;
    margin: 0 auto;
}

@media (max-width: 1148px) {
    .container {
        max-width: 1100px;
        min-width: 768px;
        padding: 0 24px 0 24px;

    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        min-width: 320px;
        padding: 0 16px 0 16px;
    }
}